body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .app {
    text-align: center;
    padding: 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 10px;
    font-size: 16px;
  }
  
  .search-bar button {
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #555;
  }
  
  .article {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .article img {
    max-width: 100%;
    /*height: 200px;  Set a fixed height for the images */
    object-fit: cover; /* Ensure images maintain aspect ratio and cover the set height */
    display: block;
  }
  
  .spinner {
    margin: 50px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    animation-delay: -1.0s;
  }
  
  @keyframes sk-bounce {
    0%, 100% { transform: scale(0.0) }
    50% { transform: scale(1.0) }
  }
  